.blog_section {
  background: linear-gradient(0deg, #000000, #000000);
  /* margin: 0 auto; */
  overflow: hidden; /* Prevents unwanted horizontal scroll */
  padding: 6rem 4rem;
}

/* Blog Left */
.blogLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* text-align: center; */
  width: 50%;
}
.blogLeft h2 {
  font-family: "KumbhSans-Bold", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.blogLeft p {
  font-family: "Rajdhani-Regular", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgba(255, 255, 255, 1);
}

/* Swiper Styles */
.blogRight {
  width: 50%;
  /* max-width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  overflow: hidden; /* Fixes horizontal scrolling */
  position: relative;
  /* height: 600px; */
}

/* Swiper Slides */
.swiper-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}
.swiper-slide {
  display: flex;
  /* justify-content: center; */
  width: 100% !important;
  /* height: 600px; */
}

/* Blog Card */
.blogCard {
  border-radius: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  /* max-width: 100%; */
  /* text-align: center; */
  margin:  auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 15px;
}
.blogCard h3 {
  font-family: "Rajdhani-Regular", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
}
.blogCard p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}
.readMoreBtn {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: underline;
  color: rgba(239, 59, 38, 1);
}

/* Navigation Buttons */
.navButton {
  background: transparent;
  border: none;
  cursor: pointer;
}
/* .navButton img {
  width: 100px;
  height: 100px;
} */

/* Responsive Design */
@media (max-width: 768px){
  .navButton img {
    width: 100px;
    height: 100px;
  }
  .blog_section{
    padding: 1.5rem 1rem;
  }
}
@media (max-width: 1024) {
  .blogSection_cards {
    flex-direction: column;
  }
  .blogLeft{
    width: 100%;
  }
  .blogRight {
    width: 100%;
    gap: 0.5rem !important;
  }
  .swiper-container {
    width: 100%;
  }
  
}
